<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.andrews.kundani.aupress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LaunchActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- titles titles titles-->

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
                  <!--android:launchMode="singleTop"-->
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.andrews.kundani.aupress.MainActivity" />
        </activity>

        <!-- chaos is a ladder -->

        <activity android:name=".BookListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchActivity" />
        </activity>

        <!-- the code is broken and full of errors -->

        <!-- let's see what their words are worth -->

        <activity
            android:name=".BookSearchActivity"
            android:parentActivityName="edu.andrews.kundani.aupress.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.andrews.kundani.aupress.MainActivity" />

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- the unburnt, the breaker of chains -->

        <activity android:name=".BookDetailsFragment">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- you make brooding look good -->

        <!-- explosions in the sky, your hand in mine -->

        <activity android:name=".ShoppingCartActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>

</manifest>